.message {
    &__wrapper {
        display: flex;
        flex-direction: column;
        // position: relative;
        word-wrap: break-word 
    }

    &__username {
        align-self: flex-end;
        color: rgb(193, 12, 238);
        font-size: 16px;
        line-height: 16px;

        &-self {
            color:rgb(238, 46, 12);
        }
    }
}