@import "./reset";
@import "./libs/include-media";

$breakpoints: (small: 480px, medium: 768px, large: 1024px, e-large: 1200px);

html {

    font-size: 5px;

    @include media(">small", "<=medium") {
        font-size: 10px;
    }
    @include media(">medium") {
        font-size: 11px;
    } 
}

* {
    box-sizing: border-box;
}
